.app {
  max-width: 80%;
  margin-top: 0.5rem;
  padding: 1rem;
}

.content {
  display: flex;
  .detail {
    flex: 1 1 70%;
  }
  .list {
    flex: 1 1 30%;
  }
  margin-top: 0.5em;
}

/* On screens that are 992px wide or less, go from four columns to two columns */
@media screen and (max-width: 740px) {
  .app {
    background-color: blue;
  }
}
