.app {
  max-width: 80%;
  padding: 0.5rem;
}

.content {
  display: flex;
  .detail {
    flex: 1 1 70%;
  }
  .list {
    flex: 1 1 30%;
  }
  margin-top: 0.5em;
}

@media screen and (max-width: 78rem) {
  .content {
    flex-direction: column;
    p {
      padding-bottom: 1rem;
    }
  }
}
